 <% if current_user.admin? %>
    <h4> <%= link_to "Add Movie", new_admin_movie_path %> </h4>
<% end %>

<% @movies.each do |m| %>
<%= link_to m.name, movie_path(m) %> User Rating: <%= m.avg_rating%> <br>
<% end %>

<% if @user == current_user %>
    <%= link_to "Add a movie", new_user_movie_path(current_user) %> <br>
<% end %>

<br>
See all movies in this collection before a certain date:
<%= form_tag '/movies/released_before', method: :get, authenticity_token: false %>
    <% if @user %>
        <%= hidden_field_tag 'user_id', @user.id %>
    <% end %>
    <%= text_field_tag 'date' %>
<%= submit_tag "Search "%>