 <% if current_user.admin? %>
    <h4> <%= link_to "Add Movie", new_admin_movie_path %> </h4>
<% end %>

<% @movies.each do |m| %>
<%= link_to m.name, movie_path(m) %> User Rating: <%= m.avg_rating%> <br>
<% end %>

<br>
See movies in collection before a certain date:
<%= form_tag '/movies/released_before', method: :get %>
    <% if @user %>
        <%= hidden_field_tag 'user_id', @user.id %>
    <% end %>
    <%= text_field_tag 'date' %>
<%= submit_tag "Search "%>
<br><br>

Add movie to your collection: <br>
<% if current_user == @user %>
    <%= form_tag "/users/#{current_user.id}/movies" %>
    <%= select_tag "movie_id", options_from_collection_for_select(Movie.all, "id", "name"), include_blank: "" %>
    <%= select_tag "rating", options_for_select([*1..10]), include_blank: "No Rating" %>
    <%= submit_tag "Add Movie" %>
<% end %> 

<br>