<h3> <%= @movie.name %> </h3>
<i> Director: </i> <%= @movie.director %> <br>
<i> Released: </i> <%= @movie.release_date %> <br>
<i> Genre: </i> <%= @movie.genre %> <br>
<i> User rating: </i> <%= @movie.avg_rating %> <i>