<% if @user.errors.any? %>
    <div id="error_explanation">
        <i>ERROR:</i>
        <ul>
            <% @user.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
         </ul>
    </div>
<% end %>

<h1> Sign Up </h1>
<%= form_with model: @user, local: true do |f| %>
    Username: <%= f.text_field :username %> <br>
    Email: <%= f.text_field :email %> <br>
    Password: <%= f.text_field :password %> <br>
    Confirm Password: <%= f.text_field :password_confirmation %> <br>
    <%= f.submit "Sign up"%>
<% end %>

<br>

<%= login_through_github %>