<!DOCTYPE html>
<html>
  <head>
    <title>MovieDatabase</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <h1> Movie Database </h1>
    <%= link_to "Sign up", new_user_path %>  |  <%= link_to "Login in", login_path %> <br>
    _______________________________________________________________________________
    <br>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
